@image_alignment: default;
@image_display: block;
@image_max_width: default;
@image_height: default;
@image_width: default;

.ih-item {
	text-align: @image_alignment;
	img {
		display: @image_display;
		max-width: @image_max_width;
		width: @image_width;
		height: @image_height;
	}
}
